h1 {
    font-size: 50px;
}
nav#main-navbar {
    display: flex;
    background-color: #a0da5c;
    padding: 1%;
    justify-content: center;
}
nav#main-footer {
    background-color: #a0da5c;
    padding: 1%;
    justify-content: center;
}
.nav-links{
    display: flex;
}
#main-navbar a{
    text-decoration: none;
    margin-left: 3%;
    color: black;
}
#main-footer a {
    text-decoration: none;
    margin-left: 3%;
    color: black;
}
li.navarb-item {
    list-style: none;
}
.uc {
    display: flex;
    padding-left: 30%;
}
.section-title {
    text-align: center;
    font-weight: 700;
    font-size: xxx-large;
    margin-top: 3%;
    margin-bottom: 3%;
}
span.special-styling {
    font-style: italic;
    /* background: -webkit-linear-gradient(#86dc8a, #51a30d); */
    background-image: linear-gradient(85deg, #4caf50 12%, #a2d665 50%, #8ace69 91%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.row{
    display: flex;
}
.service-box {
    background: #c7e4c7;
    margin: 2%;
    width: 60%;
    padding: 2% 5%;
    border-radius: 18px;
}
.column {
    width: 50%;
    text-align: center;
}
.testimonial-box.active {
    padding: 13%;
    opacity: 74%;
    margin-bottom: -8%;    
    display: block;
}
.text-section p {
    font-size: xx-large;
    text-align: center;
}
.client-box{
    display: flex;
}
.testimonial-box{
    display: none;
}
.client-sec {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
img.client-icon {
    width: 9%;
    margin-right: 2%;
}
div#make-account-section {
    background-color: white;
    width: 60%;
    text-align: center;
    padding: 7% 8%;
    border: none;
    border-radius: 40px;
    margin-bottom: 10%;
    box-shadow: 0 8px 24px 0 rgb(0 48 204 / 8%);
    margin-left: 20%;
    position: absolute;
}
button.main-btn {
    width: 32%;
    margin-right: 1%;
    padding: 1%;
    border-radius: 33px;
    background-color: #e8ffe8;
    border-color: #149a14;
    border-style: solid;
    border-width: 3px;
    font-weight: 500;
}
.sub-column {
    box-shadow: 0 8px 24px 0 rgb(0 48 204 / 8%);
    width: 70%;
    padding: 5% 6%;
    border-radius: 33px;
    margin-bottom: 5%;
    text-align: left;
}
.right {
    margin-left: 27%;
}
.top{
    margin-top: 43%;
}
img.column-img {
    width: 97%;
    margin-bottom: 14%;
}