{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    home
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/main/homePage_students.css' %}">
{% endblock %}

{% block navbar %}
    <nav id="main-navbar">
        <a href=""><li class="navarb-item">About Us</li></a>
        <a href=""><li class="navarb-item">Our Tutors</li></a>
        <a href=""><li class="navarb-item">Become a Tutor</li></a>
        <a href=""><li class="navarb-item">Why Us?</li></a>
        <div class="uc">
            <li class="navarb-item uc-it" id="tutor-signup">Sign Up</li>
            <li class="navarb-item uc-it" id="tutor-login">Log In</li>
        </div>
    </nav>
{% endblock %}

{% block content %}

    <div class="section" id="testimonial-section">
        <div class="section-title">What does it take to be a <span class="special-styling">Compass</span> tutor?</div>
        <div class="row">
            <div class="column">
                <div class="sub-column right">
                    <h4>Subjects and Academics</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sequi minima id cumque quas rem hic illum vero tempore.</p>
                    <img src="https://media.istockphoto.com/vectors/animator-sitting-at-workplace-and-creating-motion-design-vector-id1285476239?k=20&m=1285476239&s=612x612&w=0&h=CVW3EK_Z2HWcu1nH2C_WG6W7OmvrNyko46YzfSsxzP4=" class="column-img">
                    <a><h4>Learn More</h4></a>
                </div>
                <div class="sub-column right">
                    <h4>Experience</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sequi minima id cumque quas rem hic illum vero tempore.</p>
                    <img src="https://media.istockphoto.com/vectors/animator-sitting-at-workplace-and-creating-motion-design-vector-id1285476239?k=20&m=1285476239&s=612x612&w=0&h=CVW3EK_Z2HWcu1nH2C_WG6W7OmvrNyko46YzfSsxzP4=" class="column-img">
                    <a><h4>Learn More</h4></a>
                </div>
            </div>
            <div class="column">
                <div class="sub-column top">
                    <h4>Soft Skills and Motivation</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sequi minima id cumque quas rem hic illum vero tempore.</p>
                    <img src="https://media.istockphoto.com/vectors/animator-sitting-at-workplace-and-creating-motion-design-vector-id1285476239?k=20&m=1285476239&s=612x612&w=0&h=CVW3EK_Z2HWcu1nH2C_WG6W7OmvrNyko46YzfSsxzP4=" class="column-img">
                    <a><h4>Learn More</h4></a>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="testimonial-section">
        <!-- <div class="section-title">Here's what our <span class="special-styling">tutors</span> have to say</div> -->
        <div class="testimonial-slides"></div>
    </div>

    <div class="section" id="make-account-section">
        <div class="row">
            <!-- icons will go here -->
        </div>
        <h1>Entry-level hiring shouldn't require senior-level effort</h1>
        <p>Join our selective program that will teach you how to freelance and create exceptional client experiences.</p>
        <div class="row" style="justify-content: center;">
            <button class="main-btn">Become a Tutor</button>
            <button class="main-btn">Check Out Requirements</button>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/main/homePage_tutors.js' %}"></script>
{% endblock %}