{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    home
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/main/homePage_students.css' %}">
{% endblock %}

{% block navbar %}
    <nav id="main-navbar">
        <a href=""><li class="navarb-item">About Us</li></a>
        <a href=""><li class="navarb-item">Our Tutors</li></a>
        <a href=""><li class="navarb-item">Become a Tutor</li></a>
        <a href=""><li class="navarb-item">Why Us?</li></a>
        <div class="uc">
            <li class="navarb-item uc-it" id="tutor-signup">Sign Up</li>
            <li class="navarb-item uc-it" id="tutor-login">Log In</li>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="section" id="testimonial-section">
        <div class="section-title">Here's what we have to offer to our <span class="special-styling">tutors</span> have to say</div>
        <div class="testimonial-slides"></div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/main/homePage_tutors.js' %}"></script>
{% endblock %}