{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    home
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/main/homePage_students.css' %}">
{% endblock %}

{% block navbar %}
    <nav id="main-navbar">
        <a href=""><li class="navarb-item">About Us</li></a>
        <a href=""><li class="navarb-item">Our History</li></a>
        <a href=""><li class="navarb-item">Our Services</li></a>
        <a href=""><li class="navarb-item">Our Prices</li></a>
        <a href=""><li class="navarb-item">Testimonials</li></a>
        <a href=""><li class="navarb-item">Contacts</li></a>
        <a href=""><li class="navarb-item">Why Us?</li></a>
        <div class="uc">
            <li class="navarb-item uc-it" id="tutor-signup">Sign Up</li>
            <li class="navarb-item uc-it" id="tutor-login">Log In</li>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <h1>welcome to the homepage</h1>
{% endblock %}

{% block js %}
    <script src="{% static 'js/main/homePage.js' %}"></script>
{% endblock %}