<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Compass Tutoring {% endblock %}</title>
        <!-- CSS files -->
        <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <div id="content", name="content">
            {% block content %}
                <h1> page content not available</h1>
            {% endblock %}
        </div>

        <!-- JavaScript files -->
        <script src="{% static 'js/base/base.js' %}"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>